body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

form {
    padding: 1rem;
}

h1 h2 {
    color: #333;
}


.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

header h1 {
    margin: 3%;
    margin-top: 5%;
}

header img {
    height: 20vh;
    width: auto;
}

a.add_project {
    float: right;
    margin-right: 29%;
}

a.come_back {
    float: left;
    text-decoration: none;
    color: black;
}

.footer {
    background-color: #333;
    padding: 1.5%;
}

.footer p {
    color: #ddd;
}

.text-center {
    text-align: center;
}

li {
    display: inline-flex;
    margin: 1rem;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: black;
}

tr {
    border: 2px solid black;
}


* {
    box-sizing: border-box;
}

form.project_create {
    border: 2px solid black;
    width: 50vh;
    margin-top: 0%;
    margin-left: 34%;
}

form.project_update {
    border: 2px solid black;
    width: 50vh;
    margin-top: 0%;
    margin-left: 34%;
}


/* media queries */
@media (max-width: 776px) {
    form.project_create {
        border: 2px solid black;
        width: 50vh;
        margin-top: -6%;
        margin-left: 34%;
    }

    a.come_back {
        margin-left: 46%;
    }
}

@media (max-width: 600px) {
    .column {
        margin-bottom: 1rem;
    }
}

@media (max-width: 550px) {
    .container h2, p {
        text-align: center;
    }

    a.come_back {
        margin-left: 46%;
    }
}